apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "typesense.fullname" . }}
  labels:
    {{- include "typesense.labels" . | nindent 4 }}
spec:
  serviceName: ts
  replicas: 1
  podManagementPolicy: OrderedReady
  selector:
    matchLabels:
      {{- include "typesense.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "typesense.selectorLabels" . | nindent 8 }}
    spec:
      initContainers:
        - name: init-data-dir
          image: busybox:1.36
          command: ['sh', '-c', 'mkdir -p /data && chown -R 1000:1000 /data']
          volumeMounts:
            - name: data
              mountPath: /data
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TYPESENSE_API_KEY
              value: {{ .Values.env.TYPESENSE_API_KEY | quote }}
            - name: TYPESENSE_DATA_DIR
              value: /data
            - name: TYPESENSE_ENABLE_CORS
              value: {{ .Values.cors | quote }}
            - name: TYPESENSE_API_PORT
              value: "8108"
          ports:
            - name: http
              containerPort: 8108
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: data
              mountPath: /data
      {{- if not .Values.persistence.enabled }}
      volumes:
        - name: data
          emptyDir: {}
      {{- end }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        creationTimestamp: null
        name: data
      spec:
        accessModes:
          {{- range .Values.persistence.accessModes }}
          - {{ . | quote }}
          {{- end }}
        {{- if .Values.persistence.storageClass }}
        storageClassName: {{ .Values.persistence.storageClass | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.persistence.size | quote }}
  {{- end }}
